<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
          <a class="nav-link" href="/campgrounds/new">New Campground</a>
        </div>
      </div>
      <div class="navbar-nav ml-auto">
        <% if(!currentUser){ %>
          <a class="nav-link" href="/login">Login</a>
          <a class="nav-link" href="/register">Register</a>
        <% } else{ %> 
          <a class="nav-link disabled"  href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="navbar-nav-svg me-1" viewBox="0 0 16 16">
              <path fill="rgb(226, 111, 111)" d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill="rgb(226, 111, 111)" fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <span style="color:rgb(226, 111, 111)"> <%= currentUser.username  %> </span>  
          </a>
          <a class="nav-link" href="/logout">Logout</a>
        <% } %> 
      </div>
    </div>
  </nav>