/* body{
    background-image:url("https://static.vecteezy.com/ti/vetor-gratis/p1/572832-textura-abstrata-de-fundo-seda-de-cetim-branca-e-cinza-tecido-de-tecido-textil-com-dobras-onduladas-ilustracaoial-gratis-vetor.jpg");
    background-size:contain;
    background-position: center;
} */